@use "./fonts.scss";
@use '@/styles/index.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background: #f9f9f9;
  color: var(--color-black);
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: transparent;
}

input {
  border: none;
  background: transparent;
  font-family: inherit;
  outline: none;
  cursor: pointer;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $bg-color inset;
    -webkit-text-fill-color: $color-title;
    transition: background-color 5000s ease-in-out;
  }

  &::placeholder {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #999;
  }

}
#nprogress .bar {
  background: #242edb;
  height: 3px;
}

#nprogress .peg {
  box-shadow: none;
}

#nprogress .spinner {
  display: none;
}