@use '@/styles/index.scss' as *;

.product {
  &__container {
    padding-top: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding: 26px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    gap: clamp(24px, 15vw, 300px);
  }

  &__title,
  &__table_title {
    font-family: $font-heading;
    font-weight: 700;
    font-size: 24px;
    color: #202020;
  }

  &__table_title {
    font-size: 20px;
    line-height: 100%;
    color: #333;
  }

  &__table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
  }


  &__wrapper {
    padding: 30px 30px 37px 30px;
    background-color: white;
  }

  &__addblock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    .add_btn {
      border-radius: 6px;
      padding: 10px 20px;
      height: 42px;
      min-height: 42px;
      background: #242edb;

      font-family: $font-heading;
      font-weight: 600;
      font-size: 14px;
      color: #ebf3ea;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 24px 18px;
        gap: 20px;
      
        th {  width: 276px;
        text-align: center;
          &:first-of-type {
            width: 22px;

          }

          &:nth-child(2) {
            width: 276px;
            text-align: left;
          }
        }
      }

    }

    tbody {
      .row {
        padding: 11px 18px;
        display: flex;
        align-items: center;
        gap: 20px;

      
        td {  width: 276px;
        text-align: center;
          &:first-of-type {
            width: 22px;
            text-align: left;
          }

          &:nth-child(2) {
            width: 276px;
         

          }
        }
      }
    }
  }
}

.plusBtn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #242edb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;

  border: 1px solid #dcdcdc;
  border-radius: 4px;

  background: #fff;

  cursor: pointer;
  position: relative;

  transition: all 0.15s ease;
}
.checkbox:hover {
  border-color: #bdbdbd;
}
.checkbox:checked {
  background: #3f51f7;
  border-color: #3f51f7;
}
.checkbox:checked::after {
  content: "";
  position: absolute;

  left: 4px;
  top: 1px;

  width: 5px;
  height: 9px;

  border: solid white;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
}

.plusBtn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #242edb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedRow {
  background: #f6f8ff;
  border-left: 3px solid  #3c538e;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.pagination_pages {
  display: flex;
  gap: 6px;
}

.pagination_pages button {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: 1px solid #e2e2e2;
}



.refresh_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ececeb;
  border-radius: 8px;
  padding: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 20px;
  gap: 8px;
  background: #f3f3f3;
  border-radius: $radius-md;
  width: 55.3%;

  &__input {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #999;

  }
}

.tableWrapper {
  background: white;
  border-radius: 12px;
  padding: 30px;
}



.head {
  color: var(--color-gray-400);
  font-family: var(--font-heading);
  font-size: 16px;
}

.row {
  border-top: 1px solid #e2e2e2;
}

.cell {
  padding: 16px;
  text-align: center;
}

.product {
  display: flex;
  align-items: center;
  gap: 12px;
}

.photo {
  min-width: 48px;
  height: 48px;

  border-radius: 8px;
  background: #c4c4c4;
  margin-right: 18px;
}

.name {
  font-family: var(--font-heading);
  font-weight: 700;
  text-wrap: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 210px;
  text-align: left;
}

.category {
  font-size: 14px;
  color: var(--color-gray-400);
  text-align: left;
}

.price {
  font-family: var(--font-mono);
}

.ratingBad {
  color: var(--color-danger);
}
.activePage {
  background: #6c6ce5;
  color: white;
}